<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}} %highlight{%-5level }{INFO=CYAN, DEBUG=WHITE, TRACE=BLACK}[%style{%t}{bright,blue}] %style{%c{1.}}{bright,yellow}: %msg%n%throwable"
                    disableAnsi="false"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>